.thanhchon4{
    list-style: none;
    margin-left: -562px;
    margin-top: 300px;
    float: left;
    display: inline-flex;
}

.button { 
    border: none;  
    padding: 16px 32px;  
    text-align: center;  
    text-decoration: none;  
    display: inline;  
    font-size: 16px;  
    margin: 4px 2px;  
    -webkit-transition-duration: 0.4s; /* Safari */  
    transition-duration: 0.4s;  
    cursor: pointer;  
    border-radius: 4px;
}

video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
}

.noi_dung {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.semi-transparent-button { 
    display: block; 
    box-sizing: border-box; 
    margin: 0 auto; 
    padding: 8px; 
    width: 80%; 
    max-width: 200px; 
    background: #333333; 
    background: #333333; 
    border-radius: 8px; 
    color: #f9f8f8; 
    text-align: center; 
    text-decoration: none; 
    letter-spacing: 1px; 
    transition: all 0.3s ease-out; 
}

.semi-transparent-button:hover,
.semi-transparent-button:focus, 
.semi-transparent-button:active { 
    background: #fff; 
    color: #333333; 
    transition: all 0.5s ease-in; 
}
